.card-body {
  animation: fadeIn 0.5s ease;
  user-select: none;
}

.card-border * {
  font-family:'Merriweather', sans-serif;
}

.card-border {
  display: grid;
  grid-template-rows: 25px 170px auto auto 40px;
  width: 220px;
  height: 360px;
  background: #FCF7F0;
  border-radius: 15px;
  outline: 15px solid #0E0101;
  margin: 15px;
  overflow: hidden;
}


.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  font-style: italic;
  padding: 10px 0px 8px 8px;
  color: #0E0101;
}

.card-category {
  font-weight: bold;
  font-size: 14px;
}

.card-cost {
  font-size: 14px;
  justify-self: end;
  color: #0E0101;
  font-weight: bold;
}

.coffee-beans {
  padding: 0px 10px 0px 5px;
  width: 18px;
  height: 18px;
}

.card-image {
  width: 170px;
  height: 140px;
  overflow: hidden;
  margin: auto;
  border: 3px solid #0E0101;
  border-radius: 20px;
  background-color: #D6B890;
}

.card-image img {
  margin: auto;
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0px 10px;
}

.card-title-line {
  border: 1px solid #0E0101;
  margin: 7px 10px 0px 10px;
}

.card-description {
  font-size: 12px;
  text-align: left;
  padding: 0px 20px;
  grid-row: 4;
}

.card-footer {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  background: #FCF7F0;
  grid-row: 5;
}

.card-placeholder {
  width: 250px;
  height: 390px;
  display: grid;
  gap: 20px;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: var(--card-placeholder-color);

  p {
    font-family: 'Kaushan Script';
    font-size: 55px; 
    font-weight: bold;
  }
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background:linear-gradient(90deg,var(--loader-underline) 50%,#0000 0) right/200% 100%;
  animation: l21 2s infinite linear;
}
.loader::before {
  content :"Brewing...";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg,var(--loader-text-not-underlined) 50%,var(--loader-text-underlined) 0);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l21{
  100%{background-position: left}
}