.container {
  display: grid;
  min-height: 100vh;
  background-color: var(--background-color);
  grid-template-columns: 170px auto 170px;
  grid-template-rows: 45px auto 100px;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer"
}

.container header {
  grid-area: header;
  background-color: var(--secondary-background-color);
  display: grid;
  grid-template-columns: 100px 3fr 5fr 170px;

  .theme-switch { 
    grid-column: 3;
    display: grid;
    justify-content: end;
  }

  .theme-button {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #FCF7F0;
  }

  .theme-text {
    position: absolute;
    font-family: 'Kaushan Script';
    bottom: 12%;
    display: none;
    color: #FCF7F0;
    background-color: transparent;
    animation: fadeIn 0.5s ease;
    right: 45px;
  }
  
  .visible {
    display: inline-block;
  }
}


.container main {
  grid-area: main;
  display: grid;
  place-content: center;
}

.container aside {
  grid-area: aside;
}

.container footer {
  grid-area: footer;
  background-color: var(--secondary-background-color);
}

@media (width < 1220px) {
  .container {
    grid-template-columns: 80px 1fr 80px;
    grid-template-rows: 45px auto auto 100px;
    row-gap: 60px;
    grid-template-areas:
      "header header header"
      ". main ."
      ". aside ."
      "footer footer footer"
  }

  .container header {
    display: grid;
    grid-template-columns: 80px 1fr 80px;

    .theme-switch { 
      grid-column: 2;
    }
  }
}

@media (width < 600px) {
  .container {
    grid-template-columns: 24px 1fr 24px;
    grid-template-rows: 45px auto auto 100px;
    row-gap: 60px;
    grid-template-areas:
      "header header header"
      ". main ."
      ". aside ."
      "footer footer footer"
  }

  .container header {
    display: grid;
    grid-template-columns: 24px 2fr 1fr 24px;

    .theme-switch { 
      grid-column: 3;
    }
  }
}