<div class="container">
  <header>
    <div class="theme-switch">
      <button class="theme-button" 
        (click)="toggleDarkTheme()" 
        (mouseover)="showText()" 
        (mouseleave)="hideText()">
        <i class="fa-solid fa-circle-half-stroke"></i>
        <span class="theme-text" [ngClass]="{ 'visible': isThemeTextVisible }">{{ themeButtonText }}</span>
      </button>
    </div>
  </header>
  <main>
    <app-brew-hub></app-brew-hub>
  </main>
  <!-- <aside>
  </aside> -->
  <footer></footer>
</div>