.container {
  display: grid;
  grid-template-rows: auto auto;
  align-content: center;
  align-items: center;
}

.description {
  font-family: 'DM Sans';
  font-size: 19px;
  color: var(--text-color);

  h1, h3 {
    margin-bottom: 10px;
    text-wrap: pretty;
  }

  p {
    margin-bottom: 20px;
    line-height: 1.5;
    text-wrap: pretty;
  }
}

.link {
  font-family: 'Oswald', 'Space Mono', 'Space Grotesk', sans-serif;
  font-size: x-large;
  color: white;
  border-radius: 2px;
  padding: 0px 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;

  i {
    padding-right: 10px;
  }
}

.text1 {
  animation: fadeIn 0.5s ease;
}

.text2 {
  animation: fadeIn 1s ease;
}

.text3 {
  animation: fadeIn 1.5s ease;
}

#networks {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  animation: fadeIn 1.5s ease;

  a {
    display: inline-flex;
    align-items: center;
  }
}

@media (max-width: 600px) {
  #networks {
      margin-top: 15px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

}

.github {
  background-color: #5b5b5b;

  &:hover {
    background-color:  #8b8b8b;
  }
}

.linkedin {
  background-color: #0077B5;

  &:hover {
    background-color: #1C98D7;
  }
}