.container {
  display: grid;
  grid-template-rows: 390px 45px;
  align-content: center;
  gap: 50px;
  height: 100%;
}
 
.coffee-card {
  display: grid;
  align-content: end;
  justify-content: center;
}

.brew-button {
  display: grid;
  justify-content: center;
}

.button {
  padding: 0px 15px;
  height: 45px;
  font-family: 'Oswald', 'Space Mono', 'Space Grotesk', sans-serif;
  font-size: 28px;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  background-color: #763e2b;

  &:active {
    transform: translateY(1px);
    transform: scale(0.96);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  &:hover {
    background-color:  #ac593e;
  }

  &:disabled {
    background-color: #763e2b;
    cursor: not-allowed;
    opacity: 0.7;
 }
}
