.container {
  /* margin: 70px 0; */
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;
  gap: 50px;
}

.button {
  padding: 0px 15px;
  height: 40px;
  font-family: 'Oswald', 'Space Mono', 'Space Grotesk', sans-serif;
  font-size: x-large;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  background-color: #763e2b;

  &:active {
    transform: translateY(1px);
    transform: scale(0.96);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  &:hover {
    background-color:  #ac593e;
  }
}
